.logo {
  @include flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  background-color: $charcoal;
  list-style-type: none;
  margin: 0px;
  @include flex;
  font-size: 12px;
  width: 100vw;
  align-items: center;
  height: 4rem;
}

.nav-link,
.navbar-brand {
  margin-right: 4rem;
  margin-left: auto;
  color: $beige;
}

.navbar-brand {
  margin: 0 auto 0 0;
}
.nav-item {
  position: relative;
}
.nav-link {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: $bold;
  display: inline-block;
  position: relative;
  outline: none;
  &:hover {
    color: $white;
  }
}

// underline transition
.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  color: $beige;
  left: 50%;
  position: absolute;
  background: $beige;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-link:hover:after,
.nav-link:focus:after {
  width: 100%;
  left: 0;
}
.nav-links {
 z-index: 9999;
 margin-right: 200px;
 display: inline-block;
  }


@media only screen and (min-width: 768px) {
.nav-links {
  @include flex;
  flex-direction: row;
  margin-left: auto;
 margin-right: -20px;
}
.menu-icon {
  display: none;
}
}

// hamburger menu - phones
@media only screen and (max-width: 768px) {
  .menu-icon {
  position: absolute;
  right: 30px;
    cursor: pointer;
    color: $beige; 
  }
  .nav-links {
    margin-top: 130px;
    padding: 20px;
    background-color: $charcoal;
 margin: 0;
 margin-top: 140px;
 margin-left: auto;
  }

  .navbar {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .nav-links:not(.open) {
    display: none;
  }
 
  .nav-link {
    padding: 5px;
  }
}
