.newpost_title {
    font-size: 30px;
    font-family: $playfair-display;
    font-weight: 500;
    margin-top: 1rem;
    width: 50%;
}
.newpost_container {
margin-left: 10.8rem;
margin-top: 3rem;
}
.image-upload>input {
  display: none;
}
.img-upload-icon {
margin-left: 1rem;
}

.newpost_field::placeholder {
    color: #9e9e9e;
    font-family: $playfair-display;
}
.newpost_field, .newpost_field:focus {
    outline: none;
    border: none;
    color: $charcoal;

}
.newpost_textarea {
    resize: none;
    font-size: 16px;
    margin-top: 2rem;
    height: 190px;
    width: 50%;
}

.publish-post-btn {
  background-color: $green;
  border: 1px $green solid;
  padding: 5px 10px 5px 10px;
  border-radius: 12%;
  color: white;
}
.newpost_field::selection {
  background-color: $green;
}
.publish-post-btn {
    float: right;
    margin-right: 18rem;
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: rgb(255, 255, 255);
    border: 1px solid $grey;
    color: $grey;
    text-align: center;
    margin-top: 20px;
    margin-left: 2px;
    font-size: 10px;
    position: absolute;
    z-index: 1;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  
  .create-post-error, .create-post-success {
    margin-top: -4rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  .create-post-error {
      color: $red;
  }

  .create-post-success {
      color: $green;

  }