.mypost {
    display: flex;
    align-items: center;
    height: 70px;
    flex-wrap: wrap;
    flex-direction: row;

}
.mypost_title {
    flex: 50%;
    margin-left: 2%;
    font-family: $playfair-display;
    color: $charcoal;
} 

.mypost_title::selection, .mypost_btn::selection {
    background-color: $green;
}

.hr {
    background-color: lightgrey;
    border: none;
    height: 1px;
}

// buttons
.mypost_btn {
    float: right;
    margin-right: 20px;
}

.delete_btn {
    color: $red;
    cursor: pointer;
}

.edit_btn {
    color: $charcoal;
    &:hover {
        color: $charcoal;
    }
}