.mypost_title {
    margin-left: 20%;
}

.mypost_btn {
    float: right;
    margin-right: 20px;
}

.delete_btn {
    color: $red;
}

.edit_btn {
    color: $charcoal;
}
.hr {
    background-color: lightgrey;
    border: none;
    height: 1px;
}
