.home-header,
.header-para {
  font-family: $asap;
  color: $charcoal;
  text-align: center;
  display: block;
  font-size: 16px;
  float: right;
}

.home-header {
  font-size: 26px;
}

.about-app {
  margin: 40px 22em 25px 22em;
  border-radius: 20%;
}
.background {
  width: 100vw;
  background-color: rgba(127, 205, 145, .2);
  padding: .7em 0;
}
// .background {
//   background-image: url("../../img/S3_Growth.jpg"); 
//   height: 400px;
//   background-position: right; 
//   background-repeat: no-repeat; 
//   background-size: 40%; 
//   margin-right: 170px;
//   z-index: -100;
//   margin-top: -150px;
// }
 .about-app h5 {
  text-align: justify;
  font-family: $playfair-display;
  font-size: 115%;
  color: $charcoal;
  line-height: 1.5;
}
.about-app span {
  //color: $beige;
  font-weight: $bold;
}