.home-header,
.header-para {
  color: $charcoal;
  text-align: center;
  display: block;
  font-size: 16px;
  float: right;
}

.home-header {
  font-size: 26px;
}
.about-app {
  margin: 40px 22em 25px 22em;
}
@media (max-width: 1024px) {
  .about-app {
    margin: 0 auto;
    width: 60%;
  }
}
.diamond-icon {
  margin-left: 8px;
}

.background {
  width: 100vw;
  background-color: rgba(127, 205, 145, 0.2);
  padding: 0.7em 0;
}

.about-app h5 {
  text-align: justify;
  font-family: $playfair-display;
  font-size: 115%;
  color: $charcoal;
  line-height: 1.8;
}
.about-app .keywords {
  font-weight: $bold;
}
