.username {
    text-align: left;
    margin-left: 3.4%;
    color: $charcoal;
    text-decoration: underline;
}

.mypost {
    @include flex;
    align-items: center;
    height: 70px;
    flex-wrap: wrap;
    flex-direction: row;
}
.mypost_title {
    flex: 50%;
    margin-left: 2%;
    font-family: $playfair-display;
    color: $charcoal;
}

.mypost_title::selection,
.mypost_btn::selection {
    background-color: $green;
}

.hr {
    background-color: lightgrey;
    border: none;
    height: 1px;
}

.no-posts,
.no-posts:hover {
    color: $grey;
    font-size: 25px;
    font-weight: $bold;
    margin-top: 170px;
    text-align: center;
    font-family: $playfair-display;
    display: block;
}

.no-posts-link,
.no-posts-link:hover {
    margin-top: 50px;
    color: $green;
}
