.post-container {
    width: 60%;
    margin: 2rem auto 0 auto;
    padding-bottom: 2em;
}
.post-title {
    font-size: 26px;
}
.post-body {
    color: $charcoal;
}
.post-title::selection,
.post-body::selection {
    background-color: $green;
}


.diamond {
    margin-left: 2.5%;
}

.diamond-length {
    font-size: 12px;
    margin-top: 0%;
    font-weight: bold;
}
.post-date {
    font-size: 12px;
    text-align: left;
    color: $grey;
    float: center;
}
.author-date {
    overflow: hidden;
}
.post-author {
    float: left;
    font-size: 12px;
    color: $green;
    font-weight: $bold;
    margin-right: 1rem;
}
.post-body {
    margin-top: 30px;
}
