@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur");
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

$opensans: 'Open Sans', sans-serif;
$oswald: 'Oswald', sans-serif;
$roboto: 'Roboto', sans-serif;
$asap: 'Asap', sans-serif;
$abel: "Abel", sans-serif;
$playfair-display: "Playfair Display", serif;

$normal: 400;
$bold: 700;