@import url('https://fonts.googleapis.com/css2?family=Abel&family=Playfair+Display&family=Roboto&display=swap');

$roboto: 'Roboto', sans-serif;
$abel: "Abel", sans-serif;
$playfair-display: "Playfair Display", serif;

$normal: 400;
$bold: 700;