@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$montserrat: 'Montserrat', sans-serif;
$opensans: 'Open Sans', sans-serif;
$oswald: 'Oswald', sans-serif;
$roboto: 'Roboto', sans-serif;

$normal: 400;
$bold: 700;